In [32]:
planet = {
    'name':'Mars',
    'moons':2
}
print('Nombre del planeta: ', planet['name'])
print('Numero de lunas: ', planet['moons'])

Nombre del planeta:  Mars
Numero de lunas:  2

In [36]:
circunferencia = {
    'polar':6752,
    'equatorial':6792
}
planet['circunferencia'] = circunferencia
print('Nombre: ', planet['name'])
print('Circunferencia polar: ', planet['circunferencia']['polar'])

Nombre:  Mars
Circunferencia polar:  6752

In [47]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}
moons = planet_moons.values()
total_moons = 0
for luna in moons:
  total_moons += luna
print('Total de lunas: ', total_moons)

planets = len(planet_moons.keys())
print('Total de planetas: ', planets)

print('Promedio de lunas por planeta: ', total_lunas/planets)

Total de lunas:  214
Total de planetas:  12
Promedio de lunas por planeta:  17.833333333333332